<div class="form-container">
    <form [formGroup]="formGroup">
        <h1>Add a Drug</h1>
        <span *ngIf="success" class="success">{{success}}</span>
        <div class="form-group">
            <label for="drug_name">Drug Name</label>
            <input type="text" id="drug_name" placeholder="Add a Drug" formControlName="name"
                [class.invalid]="formGroup.controls['name']?.touched && !formGroup.controls['name']?.valid">
            <span class="error"
                *ngIf="formGroup.controls['name']?.touched && formGroup.controls['name']?.errors?.['required']"> Clinic
                Name is required</span>
        </div>
        <div class="button-wrapper">
            <button (click)="addDrug()">Add</button>
        </div>
    </form>
</div>