<footer>

  <div class="footer-left">
    <h4>Al-Amal Medical Clinics</h4>
    <p>Social media links</p>
    <div>
      <img src="/assets/socialmedia.png">
    </div>
  </div>
  <div class="footer-center">
    <p><a href="#">Contact us</a></p>
    <p><a href="#">Doctors</a></p>
    <p><a href="#">About the clinic and services</a></p>
    <p><a href="#">Home page</a></p>
  </div>
  <div class="footer-right">
    <p>our location</p>
    <img src="/assets/location.png" alt="Map location">
  </div>

</footer>