<header id="layout-navbar" class="layout-navbar">
  <!-- sidebar toggle, visible only on small screens -->
  <button id="sidebar-toggle" class="sidebar-toggle" aria-label="Toggle sidebar">

  </button>

  <div class="container-fluid">
    <div class="navbar-nav ms-auto align-items-center">
      <div class="avatar">
        <img src="/assets/layout/Group 121.svg" alt="User avatar" class="rounded-circle" />
      </div>
      <span class="username">Ahmad Mohammad</span>



    </div>
  </div>
</header>