<!-- <aside id="layout-menu" class="layout-menu">
  <div class="app-brand demo">
    <a href="ServicesPage.html" class="app-brand-link">
      <img src="/assets/layout/Clinic-Logo.png" class="logo-image" style="width: 140px;" alt="Clinic Logo" />
    </a>
  </div>
  <nav class="menu-inner">
    <ul>

      <li class="menu-item">
        <a href="#" class="menu-link">
          <img src="/assets/layout/user.svg" alt="" class="menu-icon" />
          <span>Profile</span>
        </a>
      </li>

      <li class="menu-item">
        <a href="#" class="menu-link">
          <img src="/assets/layout/list.svg" alt="" class="menu-icon" />
          <span>View appointment list</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <img src="/assets/layout/search-file.svg" alt="" class="menu-icon" />
          <span>View patients list</span>
        </a>
      </li>

    </ul>
  </nav>
</aside> -->
<aside id="layout-menu" class="layout-menu" style="box-shadow: 0px 0px 0px 1px #d4d8dd7e; overflow-x: hidden;">
  <div class="app-brand demo">
    <a href="ServicesPage.html" class="app-brand-link">
      <img src="/assets/layout/Clinic-Logo.png" class="logo-image" style="width: 140px;" alt="Clinic Logo" />
    </a>
  </div>
  <nav class="menu-inner">
    <ng-content select="[sidebar]"></ng-content>
  </nav>
</aside>