<div class="diagnosis-list">
    <h1>List of Diagnoses</h1>
    <button class="add-diagnosis-btn" routerLink="/admin/add-diagnosis">Add Clinic</button>
    <span class="error" *ngIf="error">{{error}}</span>
    <span class="success" *ngIf="success">{{success}}</span>
    <table *ngIf="!error">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let diagnosis of diagnoses, let index=index">
                <td>{{diagnosis.id}}</td>
                <td>{{diagnosis.name}}</td>
                <td class="action-buttons">
                    <div class="delete-btn" (click)="deleteDiagnosis(diagnosis.id)"><img src="trash.png" alt="Delete" ></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>