<div class="form-container">
    <form [formGroup]="formGroup">
        <h1>Add a Doctor</h1>
        <span *ngIf="success" class="success">{{success}}</span>
        <div>
            <label for="select-clinic">Clinic Name</label>
            <select id="select-clinic" formControlName="selectClinic">
                <option value="">All Clinics</option>
                <option *ngFor="let clinic of clinics" [value]="clinic.id">{{clinic.name}}</option>
            </select>
            <span *ngIf="success" class="error">{{error}}</span>
        </div>
        <div class="form-group">
            <label for="doctor_name">Doctor Name</label>
            <input type="text" id="doctor_name" placeholder="Add Doctor's Name" formControlName="name"
                [class.invalid]="formGroup.controls['name']?.touched && !formGroup.controls['name']?.valid">
            <span class="error"
                *ngIf="formGroup.controls['name']?.touched && formGroup.controls['name']?.errors?.['required']">Doctor
                Name is required</span>
        </div>
        <div class="form-group">
            <label for="doctor_email">Doctor Email</label>
            <input type="text" id="doctor_email" placeholder="Add Doctor's Email" formControlName="email"
                [class.invalid]="formGroup.controls['email']?.touched && !formGroup.controls['email']?.valid">
            <span class="error"
                *ngIf="formGroup.controls['email']?.touched && formGroup.controls['email']?.errors?.['required']">Doctor
                Email is required</span>
            <span class="error"
                *ngIf="formGroup.controls['email']?.touched && formGroup.controls['email']?.errors?.['email']">Doctor
                Email is invalid</span>
        </div>
        <div class="form-group">
            <label for="doctor_password">Password</label>
            <input type="password" id="doctor_password" placeholder="Add Doctor's Password" formControlName="password" [class.invalid]="formGroup.controls['password']?.touched && !formGroup.controls['password']?.valid">
            <span class="error" *ngIf="formGroup.controls['password']?.touched && formGroup.controls['password']?.errors?.['required']"> Clinic Name is required</span>
        </div>
        <div class="form-group">
            <label for="doctor_phone">Doctor Phone</label>
            <input type="text" id="doctor_phone" placeholder="Add Doctor's Phone" formControlName="phone"
                [class.invalid]="formGroup.controls['phone']?.touched && !formGroup.controls['phone']?.valid">
            <span class="error"
                *ngIf="formGroup.controls['phone']?.touched && formGroup.controls['phone']?.errors?.['required']">Doctor
                phone is required</span>
        </div>
        <div class="form-group">
            <label for="doctor_specification">Doctor Specification</label>
            <input type="text" id="doctor_specification" placeholder="Add Doctor's Specification"
                formControlName="specification"
                [class.invalid]="formGroup.controls['specification']?.touched && !formGroup.controls['specification']?.valid">
            <span class="error"
                *ngIf="formGroup.controls['specification']?.touched && formGroup.controls['specification']?.errors?.['required']">Doctor
                specification is required</span>
        </div>
        <div class="button-wrapper">
            <button (click)="addDoctor()">Add</button>
        </div>
    </form>
</div>