<app-auth-header></app-auth-header>

<div class="layout-page">
  <main class="content-wrapper">
    <div class="container-box">
      <section class="header-section">
        <h1 class="content-header-h1"></h1>
      </section>

      <nav class="breadcrumb">
        <span class="breadcrumb-link">Homepage</span>
        <img src="/assets/layout/Vector.svg" alt="›" class="breadcrumb-separator" />
        <span class="breadcrumb-current" aria-current="page"></span>
      </nav>

      <section class="page-content">
        <h2>Rest of the content here</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
          euismod, urna eu tincidunt consectetur, nisi nisl aliquam nunc, a
          ultricies urna enim nec justo.
        </p>
        <router-outlet></router-outlet>

      </section>
    </div>

    <app-auth-footer></app-auth-footer>
  </main>
</div>