<div class="breadcrumb-container">
  <h2 class="page-title">Profile</h2>

  <hr class="underline" />
</div>

<form class="container">
  <div class="test">

    <div class="profile-row">
      <div class="profile-icon">
        <img src="/assets/layout/user-profile.png">
      </div>
      <input type="text" class="profile-input" placeholder="Ahamd Mohammad">

      <div class="profile-icon">
        <img src="/assets/layout/email-profile.png">
      </div>
      <input type="text" class="profile-input" placeholder="User@gmail.com">
    </div>

    <div class="profile-row">
      <div class="profile-icon">
        <img src="/assets/layout/phone-profile.png">
      </div>
      <input type="text" class="profile-input" placeholder="+962 XXX XXXX XX">

      <div class="profile-icon">
        <img src="/assets/layout/gender.png">
      </div>
      <input type="text" class="profile-input" placeholder="Gender">
    </div>

    <div class="profile-row">
      <div class="profile-icon">
        <img src="/assets/layout/clinic.png">
      </div>
      <input type="text" class="profile-input" placeholder="Clinic Name">

      <div class="profile-icon">
        <img src="/assets/layout/clipboard.png">
      </div>
      <input type="text" class="profile-input" placeholder="Specifications">
    </div>

    <button class="btn">Update</button>
  </div>
</form>