<div>
    <h1>List of Doctors</h1>
    <button routerLink="/admin/add-doctor">Add Clinic</button>
    <div>
        <label for="select">Clinic Name</label>
        <select id="select" [(ngModel)]="selectedClinicId" (change)="filterDoctors()">
            <option *ngFor="let clinic of clinics" [value]="clinic.id">{{clinic.name}}</option>
        </select>
    </div>
    <span class="error" *ngIf="error">{{error}}</span>
    <span class="success" *ngIf="success">{{success}}</span>
    <table *ngIf="!error">
        <thead>
            <tr>
                <th>Clinic Id</th>
                <th>Doctor Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Specification</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doctor of filteredDoctors, let index=index">
                <td>{{doctor.clinic_id}}</td>
                <td>{{doctor.id}}</td>
                <td>{{doctor.name}}</td>
                <td>{{doctor.email}}</td>
                <td>{{doctor.phone}}</td>
                <td>{{doctor.specification}}</td>
                <td>
                    <div class="red" (click)="deleteDoctor(doctor.id)"><img src="trash.png" alt=""></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>